<!DOCTYPE html>
<html style="font-size: normal; border: 0; font-style: normal; font-variant: normal; padding: 0; line-height: normal; margin: 0; font-weight: normal; vertical-align: baseline;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iDays, 8 dagen voordeel</title></head>
<body style="vertical-align: baseline; font-style: normal; font-variant: normal; font-weight: normal; font-size: normal; line-height: normal; background-color: #ededed; margin: 0; padding: 0; border: 0; font-family: 'ProximaNova','Helvetica Neue',Helvetica,Arial,sans-serif"
      bgcolor="#ededed">
<style type="text/css"> blockquote:before {
    content: none !important;
}

blockquote:after {
    content: none !important;
}

q:before {
    content: none !important;
}

q:after {
    content: none !important;
}

.custom-text a:hover {
    border-bottom: 1px solid #fff !important;
}

> </style>
{{online}}
<table class="container"
       style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; border-collapse: collapse; border-spacing: 0; width: 675px; margin: 0 auto; padding: 0; border: 0;">
    <tr class="links"
        style="font-size: normal; line-height: 1.3; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; color: #000; text-decoration: none; margin: 0; padding: 0; border: 0;">
        <td colspan="4" class="text-right"
            style="font-size: 10px; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; text-align: right; margin: 0; padding: 4px 0; border: 0;"
            align="right" valign="baseline"><a target="_blank" href="http://ivizi.nl/service/filialen"
                                               style="font-size: normal; line-height: 1.3; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; color: #000; text-decoration: none; margin: 0; padding: 0; border: 0;">Zoek
            een winkel</a> | <a target="_blank" href="http://ivizi.nl/service/filialen"
                                style="font-size: normal; line-height: 1.3; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; color: #000; text-decoration: none; margin: 0; padding: 0; border: 0;">Contact</a>
            | <a target="_blank" href="tel:+31433520352"
                 style="font-size: normal; line-height: 1.3; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; color: #000; text-decoration: none; margin: 0; padding: 0; border: 0;">Bel
                043 352 0 352</a></td>
    </tr>
    <tr class="header apr-color"
        style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; height: 73px; max-height: 73px; background-color: #fff; margin: 0; padding: 0; border: 0;"
        bgcolor="#000">
        <td colspan="2"
            style="font-size: normal; border: 0; font-style: normal; font-variant: normal; padding: 0; line-height: normal; margin: 0; font-weight: normal; vertical-align: baseline;"
            valign="baseline"><a target="_blank" href="http://www.ivizi.nl"
                                 style="font-size: normal; border: 0; font-style: normal; font-variant: normal; padding: 0; line-height: normal; margin: 0; font-weight: normal; vertical-align: baseline;">
            <img class="brand" src="http://ivizi.nl/nieuwsbrief/20140516iDays/img/reseller_logo2.png"
                 alt="ivizi Apple Premium Reseller"
                 style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; display: inline-block; margin: 16px 18px; padding: 0; border: 0;"></a>
        </td>
        <td colspan="2" class="text-right"
            style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; text-align: right; margin: 0; padding: 0; border: 0;"
            align="right" valign="baseline"><img class="brand"
                                                 src="http://ivizi.nl/nieuwsbrief/20140516iDays/img/h_applereseller.png"
                                                 alt="Apple Premium Reseller"
                                                 style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; display: inline-block; margin: 16px 18px; padding: 0; border: 0;">
        </td>
    </tr>
    <tr class="spacer"
        style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; height: 14px; margin: 0; padding: 0; border: 0;"></tr>
    <tr class="content"
        style="font-size: normal; border: 0; font-style: normal; font-variant: normal; padding: 0; line-height: normal; margin: 0; font-weight: normal; vertical-align: baseline;">
        <td colspan="4" class="iphones"
            style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; position: relative; margin: 0; padding: 0; border: 0;"
            valign="baseline"><img src="http://ivizi.nl/nieuwsbrief/20140516iDays/img/idays_extra_2014.jpg"
                                   alt="ivizi iDays, 8 dagen voordeel"></td>
    </tr>
    <tr class="spacer"
        style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; height: 14px; margin: 0; padding: 0; border: 0;"></tr>
    <tr class="content"
        style="font-size: normal; border: 0; font-style: normal; font-variant: normal; padding: 0; line-height: normal; margin: 0; font-weight: normal; vertical-align: baseline;">
        <td colspan="4" class="iphones"
            style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; position: relative; margin: 0; padding: 0; border: 0;"
            valign="baseline"><a href="http://ivizi.nl/nieuws/64/idays-8-dagen-voordeel"><img
                src="http://ivizi.nl/nieuwsbrief/20140516iDays/img/idays_homepage_2014.gif"
                alt="ivizi iDays, 8 dagen voordeel"></a></td>
    </tr>
    <tr class="spacer"
        style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; height: 14px; margin: 0; padding: 0; border: 0;"></tr>
    <tr class="apr-color custom-text"
        style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; background-color: #fff; margin: 0; padding: 0; border: 0;"
        bgcolor="#000">
        <td colspan="4"
            style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; margin: 0; padding: 20px; border: 0;"
            valign="baseline">
            <p style="font-size: 17px; line-height: normal; font-style: normal; font-weight: bold; font-variant: normal; vertical-align: baseline; color: #fff; text-align: center; margin: 0; padding: 0; border: 0;"
               align="center"><a target="_blank" href="http://www.ivizi.nl"
                                 style="font-size: 17px; line-height: normal; font-style: normal; font-weight: bold; font-variant: normal; vertical-align: baseline; color: #000; text-align: center; text-decoration: none; margin: 0; padding: 0; border: 0;">
                Profiteer van een van onze combodeals<br>
                <small>Bekijk de voorwaarden op de website</small>
            </a></p>
        </td>
    </tr>
    <tr class="spacer"
        style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; height: 14px; margin: 0; padding: 0; border: 0;"></tr>
    <tr class="buckets"
        style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; background-color: #fff; margin: 0; padding: 0; border: 0;"
        bgcolor="#fff">
        <td style="font-size: normal; border: 0; font-style: normal; font-variant: normal; padding: 0; line-height: normal; margin: 0; font-weight: normal; vertical-align: baseline;"
            valign="baseline"><img src="http://ivizi.nl/nieuwsbrief/20140516iDays/img/bucket_1.png"
                                   alt="Alles van Apple"
                                   style="font-size: normal; border: 0; font-style: normal; font-variant: normal; padding: 0; line-height: normal; margin: 0; font-weight: normal; vertical-align: baseline;">
        </td>
        <td style="font-size: normal; border: 0; font-style: normal; font-variant: normal; padding: 0; line-height: normal; margin: 0; font-weight: normal; vertical-align: baseline;"
            valign="baseline"><img src="http://ivizi.nl/nieuwsbrief/20140516iDays/img/bucket_2.png" alt="Apple experts"
                                   style="font-size: normal; border: 0; font-style: normal; font-variant: normal; padding: 0; line-height: normal; margin: 0; font-weight: normal; vertical-align: baseline;">
        </td>
        <td style="font-size: normal; border: 0; font-style: normal; font-variant: normal; padding: 0; line-height: normal; margin: 0; font-weight: normal; vertical-align: baseline;"
            valign="baseline"><img src="http://ivizi.nl/nieuwsbrief/20140516iDays/img/bucket_3.png"
                                   alt="Talloze accessoires"
                                   style="font-size: normal; border: 0; font-style: normal; font-variant: normal; padding: 0; line-height: normal; margin: 0; font-weight: normal; vertical-align: baseline;">
        </td>
        <td style="font-size: normal; border: 0; font-style: normal; font-variant: normal; padding: 0; line-height: normal; margin: 0; font-weight: normal; vertical-align: baseline;"
            valign="baseline"><img src="http://ivizi.nl/nieuwsbrief/20140516iDays/img/bucket_4.png"
                                   alt="Alles onder controle"
                                   style="font-size: normal; border: 0; font-style: normal; font-variant: normal; padding: 0; line-height: normal; margin: 0; font-weight: normal; vertical-align: baseline;">
        </td>
    </tr>
    <tr class="spacer"
        style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; height: 14px; margin: 0; padding: 0; border: 0;"></tr>
    <tr class="notes"
        style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; color: #5e5e5f; margin: 0; padding: 0; border: 0;">
        <td colspan="4"
            style="font-size: 10px; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; margin: 0; padding: 4px 0; border: 0;"
            valign="baseline"> Geen e-mails meer ontvangen? <a target="_blank"
                                                               href="http://www.ivizi.nl/newsletter/unsubscribe/?e={{email}}"
                                                               style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; color: #5e5e5f; margin: 0; padding: 0; border: 0;">Uitschrijven</a><br>
            TM en &copy; 2014 Apple Inc. Alle rechten voorbehouden. | Privacybeleid
        </td>
    </tr>
</table>
</body>
</html>